@charset "UTF-8";
/* ===== ===== Блок css-переменных ===== ===== */
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --top-section-bg-color: #2f303a;
  --team-section-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --logo-right-color: #000000;
  --logo-bottom-right-color: #ffffff;
  --primary-button-text-color: #ffffff;
  --primary-button-bg-color: #2196f3;
  --button-text-color: #212121;
  --button-bg-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --footer-bg-color: #2f303a;
  --header-line-color: #ececec;
  --project-item-border-color: #eeeeee;
  --icon-main-color: #a8b1b8;
  --header-item-right-margin: 50px;
  --header-top-margin: 24px;
  --header-bottom-margin: 25px;
  --logo-right-margin: 93px;
  --footer-top-bottom-padding: 60px;
  --footer-bottom-margin: 20px;
  --footer-item-margin: 9px;
  --container-width: 1200px;
  --container-gutter: 30px;
  --container-items: 1;
}

/* ===== ===== Глобальный сброс стилей некоторым тэгам ===== ===== */
p,
h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Класс для скрытия зазоров у элемента img */
.img-no-gap {
  display: block;
}

/* временный класс для скрытия элементов */
.hidden {
  display: none;
}

/* Универсальный класс для определения padding-top и padding bottom  */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.section__no-padding {
  padding-bottom: 0;
}

.section__special {
  background-color: var(--team-section-bg-color);
  margin-left: auto;
  margin-right: auto;
}

/* Класс для полного визуального скрытия сущностей  */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Класс для оформления основной страницы */
.page {
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Класс для оформления основного контейнера */
.container {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
  padding: 0 calc(var(--container-gutter) / 2);
}

/* Классы для оформления лого сайта */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19231;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__r-margin {
  margin-right: var(--logo-right-margin);
}

.logo__right {
  color: var(--logo-right-color);
}

.logo__bottom {
  color: var(--logo-bottom-right-color);
}

.social-links {
  display: flex;
  --container-items: 4;
  gap: 10px;
  margin-left: 32px;
  margin-right: 32px;
}

.social-links__item {
  width: 44px;
  height: 44px;
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}

.social-links__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

/* Класс для оформления заголовка */
.page-header {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--header-line-color);
  padding-top: var(--header-top-margin);
  padding-bottom: var(--header-bottom-margin);
}

/* Класс для оформления дизайна основного flexbox в header */
.header-set {
  display: flex;
  /* Для двух элементов (<nav> и <ul>) оставим space-between */
  justify-content: space-between;
  align-items: center;
}

.header-subset {
  display: flex;
  align-items: center;
}

/* ===== ===== Стилизация навигации сайта ===== ===== */
.site-nav {
  display: flex;
}

.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link_current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link_current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__item:not(:last-child) {
  margin-right: var(--header-item-right-margin);
}

/* ===== ===== Стилизация контактов сайта ===== ===== */
.site-contacts {
  display: flex;
}

.site-contacts__item {
  align-items: center;
}

.site-contacts__item:not(:last-child) {
  margin-right: var(--header-item-right-margin);
}

.site-contacts__email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentcolor;
}

.site-contacts__phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentcolor;
}

.site-contacts__link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link:hover, .site-contacts__link:focus {
  color: var(--accent-color);
}

/* ===== ===== Классы для оформления footer-секции ===== ===== */
.footer {
  background-color: var(--footer-bg-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--footer-top-bottom-padding);
  padding-bottom: var(--footer-top-bottom-padding);
}

.footer__main-footer {
  display: flex;
}

.footer-left__text {
  display: flex;
  flex-direction: column;
}

.footer-left__top-margin {
  margin-top: var(--footer-bottom-margin);
}

.footer-left__address {
  color: var(--primary-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-left__contacts {
  color: var(--footer-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  margin-top: var(--footer-item-margin);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-left__contacts:hover, .footer-left__contacts:focus {
  color: var(--accent-color);
}

.footer-center {
  padding-top: 48px;
  padding-left: 70px;
}

.join-us {
  display: flex;
  gap: 10px;
  position: relative;
}

.join-us::before {
  content: 'Присоединяйтесь';
  position: absolute;
  top: calc(-20px - 16px);
  left: 0;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
}

.join-us__item {
  width: 44px;
  height: 44px;
}

.join-us__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us__link:hover, .join-us__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.join-us__icon {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}

.footer-right {
  margin-left: 93px;
  padding-top: 12px;
}

.signup-form {
  display: flex;
}

.signup-email__label {
  display: block;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.signup-email__input {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
}

.signup-btn {
  margin-top: 36px;
  margin-left: 12px;
}

.signup-btn__button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-btn__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentcolor;
}

/* ===== ===== Класс для оформления Hero-секции ===== ===== */
.hero {
  background-color: var(--hero-bg-color);
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__button {
  display: inline-block;
  /* возможно что это лишнее */
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border-style: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
}

.hero__button_primary {
  color: var(--primary-button-text-color);
  background-color: var(--primary-button-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button_primary:hover, .hero__button_primary:focus {
  background-color: #188ce8;
}

/* ===== ===== Классы для оформления раздела Особенности ===== ===== */
.features {
  display: flex;
  --container-items: 4;
}

.features__item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
  margin-right: var(--container-gutter);
}

.features__item:last-child {
  margin-right: 0;
}

.features__logo {
  width: 270px;
  height: 120px;
  background-color: var(--team-section-bg-color);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

/* ===== ===== Классы для оформления секции "Чем мы занимаемся" ===== ===== */
.about {
  display: flex;
  --container-items: 3;
}

.about__item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
  margin-right: var(--container-gutter);
  position: relative;
}

.about__item:last-child {
  margin-right: 0;
}

.about__item-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

/* ===== ===== Классы для оформления секции "Наша команда" ===== ===== */
.employee {
  display: flex;
  --container-items: 4;
  gap: 30px;
}

.employee__item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee__card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.employee__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.employee__position {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

/* ========== Классы для оформления секции Постоянные клиенты ========== */
.clients {
  display: flex;
  --container-items: 6;
  gap: 30px;
}

.clients__item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
}

.clients__link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--icon-main-color);
  background-color: var(--primary-bg-color);
  color: var(--icon-main-color);
  display: flex;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentcolor;
}

/* ===== ===== Классы для оформления информации о проектах ===== ===== */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  --container-items: 3;
}

.projects__card {
  padding: 20px 24px;
}

.projects__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.projects__item {
  flex-basis: calc(var(--container-width) / var(--container-items) - var(--container-gutter));
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:hover .projects__item-text {
  transform: translateY(0%);
}

.projects__item_top {
  position: relative;
  overflow: hidden;
}

.projects__item_bottom {
  border: 1px solid var(--project-item-border-color);
  border-top: 1px solid transparent;
}

.projects__item-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--primary-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== ===== Классы для оформления кнопок ===== ===== */
.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__filter-button {
  display: inline-block;
  /* возможно что это лишнее */
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border-style: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filter-button_primary {
  color: var(--primary-button-text-color);
  background-color: var(--primary-button-bg-color);
}

.portfolio__filter-button:hover, .portfolio__filter-button:focus {
  color: var(--primary-button-text-color);
  background-color: var(--primary-button-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===== ===== Классы для оформления модального окна ===== ===== */
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop_is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop_is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  padding: 0px;
}

.modal__form-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
}

.modal__form-field {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__form-field:focus-within .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-label {
  color: var(--main-text-color);
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
}

.modal__form-icon {
  height: 18px;
  width: 18px;
  fill: var(--title-text-color);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input {
  color: rgba(117, 117, 117, 0.5);
  height: 40px;
  width: 100%;
  padding: 12px 12px 12px 42px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__comment-input {
  margin-top: 4px;
  height: 138px;
  width: 100%;
  padding: 12px 16px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal__comment-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.01em;
}

.modal__submit-button {
  display: block;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-button:hover, .modal__submit-button:focus {
  background-color: #188ce8;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn__icon {
  fill: black;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn__icon,
.close-btn:focus .close-btn__icon {
  fill: var(--accent-color);
}

.form-agreement {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-agreement__check-text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-agreement__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 1px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-agreement__input-icon-check {
  fill: var(--primary-bg-color);
}

.form-agreement__input-check:checked + .form-agreement__check-text span {
  background-color: var(--accent-color);
  border: none;
}

.form-agreement__link {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */