/* ===== ===== Классы для оформления секции "Наша команда" ===== ===== */

.employee {
  display: flex;
  flex-wrap: wrap;
  --container-items: 1;
  gap: 30px;

  @media screen and (min-width: $tablet) {
    --container-items: 2;
  }

  @media screen and (min-width: $desktop) {
    --container-items: 4;
  }

  &__item {
    flex-basis: calc(var(--width-mobile) / var(--container-items) - var(--container-gutter));
    background-color: var(--primary-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: $tablet) {
      flex-basis: calc(var(--width-tablet) / var(--container-items) - var(--container-gutter));
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc(var(--width-desktop) / var(--container-items) - var(--container-gutter));
    }
  }

  &__card {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;

    @media screen and (min-width: $desktop) {
      padding-bottom: 30px;
    }
  }

  &__title {
    color: var(--title-text-color);
    @include font-parameters(500, 16px, 19px, 0.03em);
    text-align: center;
    margin-bottom: 10px;
  }

  &__position {
    color: var(--main-text-color);
    @include font-parameters(400, 16px, 19px, 0.03em);
    text-align: center;
    margin-bottom: 16px;
  }
}
